<!-- <p>ng-pipes works!</p> -->
<h1>This is from ng-pipes Component</h1>
<!-- The below is the syntax for ng for- to display the iterate-->
<ul *ngFor="let person of people" type="1">
    <div *ngIf="person.length<=5 && person[1]=='o'">
        <li>{{person}}</li>
    </div>
</ul>



<!-- The below is the example for ng Switch case-->

<div [ngSwitch]="name">
    <h6 class="display-6" *ngSwitchCase="'varun'">varun</h6>
    <h6 class="display-6" *ngSwitchCase="'tarun'">tarun</h6>
    <h6 class="display-6" *ngSwitchCase="'kushal'">kushal</h6>
</div>


<!-- ng if is nothing but if else in the condition-->
<div *ngIf="user[0]=='H'">
    <h1>UserName is {{user}}</h1>
</div>

<div *ngFor="let person of people" >
    <h4 class="disply-4">{{person}}</h4>
    
</div>